@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');


.about__card {
    margin: 1rem 2.4rem;
    margin-bottom: 3rem;
    height: 336px;
    width: 260px;
    border-radius: 15px;
    background-color: #E3E3E3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}


.about__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    height: 17%;
    color: #090A0E;
    border-bottom: 1px solid #090A0E;
}

.about__sub {
    font-size: 18px;
    font-weight: 600;
    height: 83%;
    padding: 0 0.5rem;
    margin: 0;
    margin-top: 0.3rem;
    text-align: center;
    color: #090A0E;
}


@media screen and (max-width : 1150px ) {
    .about__card {
        margin: 1.7rem 0;
    }
}

