@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');

.app__download {
    display: flex;
    flex-direction: row;
    padding: 0 4rem;
    padding-bottom: 1rem;
    background-color: #000000;
    /* background-image: url('../assets/images/Hexagon.svg');
    background-repeat: repeat;
    background-size: contain; */
}

.app__download_animation_wrap {
    display: flex;
    width: 50%;
    height: 30%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}


.app__download_link {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.app__download_link h2 {
    margin: 3rem 0;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
    color: #e4e4e4;
}

.app__download_button {
    height: 2.8rem;
    width: 16rem;
    margin-top: 3%;
    align-self: center;
    border-style: none;
    border-radius: 40px;
    /* background-color: #F83839; */
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

@media screen and (max-width: 1150px) {
    .app__download {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }

    .app__download_animation_wrap {
        width: 100%;
    }

    .app__download_link {
        width: 100%;
    }

    .app__download_link h2 {
        font-weight: 500;
    }

    .app__download_button {
        margin: 1rem 0 1rem 0;
        font-weight: 600;
    }
}

