@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');


.app__header {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    background-color: #000000;
}

.app__header_text {
    margin-left: 5%;
    margin-right: 5px;
    width: 30%;
}

.app__header_text h1 {
    margin: 0;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 80px;
    font-family: 'Cormorant Upright', serif;
    color: #e4e4e4;
}

.app__header_text p {
    margin-left: 20px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #808080;
}

.app__header_right {
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.3rem 0 1.3rem 11%;
}


@media screen and (max-width: 1150px) {
    .app__header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .app__header_text {
        margin: 0;
        width: min-content;
    }

    .app__header_text p {
        width: 90%;
        font-size: 18px;
        margin: 18px 0;
    }

    .app__header_right {
        width: 100%;
        margin: 3rem 0 2rem 0;
    }

    .app__header_image {
        margin: 2rem 0;
    }
}

